*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.logo {
    max-width: 1270px;
    margin-top: 200px;
  }
  
  .montserrat-font {
    font-family: 'Montserrat', sans-serif;
  }
  
  .btn-primary {
    background-color: #4384fc;
    margin-right: 45px;
  }
  
  .btn-secondary {
    background-color: #4384fc;
    margin-left: 45px;
  }
  body {
    background: rgb(148, 185, 255);
    background: linear-gradient(90deg, rgba(205, 255, 216, 1), rgba(148, 185, 255, 1));
  }
  .mt-5{
    display: flex;
    justify-content: center;
  }
div p{
position: relative;
top: 10px;
  font-family: 'Open Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  color: white;
  font-size: 20px;
}
.container-text-center{
  text-align: center;
  max-width: 100%;
  max-height: 100%;
}
